1.Consider a dataset with the following information:

Weather	           Temperature	           Play Tennis
Sunny	             Hot	                  No
Overcast	         Hot	                  Yes
Rainy	             Cool	                  Yes
Sunny	             Mild	                  Yes
Rainy	             Hot	                  No
Overcast	         Cool	                  No
Sunny	             Mild	                  No

Given a new instance with weather as "Overcast" and temperature as "Mild," predict whether tennis will be played or not?

In [1]:
import pandas as pd

In [2]:
data = {
    'Weather': ['Sunny', 'Overcast', 'Rainy', 'Sunny', 'Rainy', 'Overcast', 'Sunny'],
    'Temperature': ['Hot', 'Hot', 'Cool', 'Mild', 'Hot', 'Cool', 'Mild'],
    'Play Tennis': ['No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

    Weather Temperature Play Tennis
0     Sunny         Hot          No
1  Overcast         Hot         Yes
2     Rainy        Cool         Yes
3     Sunny        Mild         Yes
4     Rainy         Hot          No
5  Overcast        Cool          No
6     Sunny        Mild          No

In [5]:
#counting number of "yes"s and "no"s
yesCount = df["Play Tennis"].value_counts()["Yes"]
noCount = df["Play Tennis"].value_counts()["No"]
total = yesCount + noCount

In [6]:
#probability of yes and no.
pYes = yesCount/total
pNo = noCount/total

In [7]:
#probability of  Overcast|Yes and Overcast|No
overcastYesCount = 0
overcastNoCount = 0
for i in range(len(df)):
    if(df["Weather"][i] == "Overcast" and df["Play Tennis"][i] == "Yes"):
        overcastYesCount += 1
    elif (df["Weather"][i] == "Overcast" and df["Play Tennis"][i] == "No"):
        overcastNoCount += 1
pOvercastYes = overcastYesCount / yesCount
pOvercastNo = overcastNoCount / noCount

In [8]:
#probability of  Mild|Yes and Mild|No
MildYesCount = 0
MildNoCount = 0
for i in range(len(df)):
    if(df["Temperature"][i] == "Mild" and df["Play Tennis"][i] == "Yes"):
        MildYesCount += 1
    elif (df["Temperature"][i] == "Mild" and df["Play Tennis"][i] == "No"):
        MildNoCount += 1
pMildYes = MildYesCount / yesCount
pMildNo = MildNoCount / noCount

In [9]:
probYes = pOvercastYes*pMildYes*pYes
probNo = pOvercastNo*pMildNo*pNo

In [10]:
print(probYes,probNo)

0.047619047619047616 0.03571428571428571

In [11]:
def normalize(py,pn):
    temp = py/(py+pn)
    return [temp,1-temp]

In [12]:
#normalizing the probability
probYes,probNo = normalize(probYes,probNo)

In [13]:
print(probYes,probNo)

0.5714285714285714 0.4285714285714286

In [14]:
if(probYes > probNo):
    print("Tennis will be played!")
else:
    print("Tennis will not be played!")

Tennis will be played!

2.Given the following dataset, check whether the combination of cars like (Red,SUV,Domestic) and (Yellow,Sports,Imported) are stolen or not?

Number	       Color	   Type	     Origin	          Stolen
1	            Red	       Sports	   Domestic	       Yes
2	            Red	       Sports	   Domestic	       No
3	            Red	       Sports	   Domestic	       Yes
4	            Yellow	   Sports	   Domestic	       No
5	            Yellow	   Sports	   Domestic	       Yes
6	            Yellow	   SUV	       Imported	       No
7	            Yellow	   SUV	       Imported	       Yes
8	            Yellow	   SUV	       Domestic	       No
9	            Red	       SUV	       Imported	       No
10	            Red	       Sports	   Imported	       Yes

In [15]:
data = {
    "Number": [1,2,3,4,5,6,7,8,9,10],
    "Color": ["Red", "Red", "Red", "Yellow", "Yellow", "Yellow", "Yellow","Yellow","Red","Red"],
    "Type": ["Sports", "Sports", "Sports", "Sports", "Sports", "SUV", "SUV","SUV","SUV","Sports"],
    "Origin": ["Domestic", "Domestic", "Domestic", "Domestic", "Domestic", "Imported", "Imported","Domestic","Imported","Imported"],
    "Stolen": ["Yes", "No", "Yes", "No", "Yes", "No", "Yes","No","No","Yes"]
}

In [16]:
df = pd.DataFrame(data)

In [17]:
df

   Number   Color    Type    Origin Stolen
0       1     Red  Sports  Domestic    Yes
1       2     Red  Sports  Domestic     No
2       3     Red  Sports  Domestic    Yes
3       4  Yellow  Sports  Domestic     No
4       5  Yellow  Sports  Domestic    Yes
5       6  Yellow     SUV  Imported     No
6       7  Yellow     SUV  Imported    Yes
7       8  Yellow     SUV  Domestic     No
8       9     Red     SUV  Imported     No
9      10     Red  Sports  Imported    Yes

In [18]:
#counting number of "yes"s and "no"s
yesCount = df["Stolen"].value_counts()["Yes"]
noCount = df["Stolen"].value_counts()["No"]
total = yesCount + noCount

In [19]:
#probability of yes and no.
prYes = yesCount/total
prNo = noCount/total

In [20]:
def yesNoCount(colName,colValue):
    yesCount = 0
    noCount = 0
    for i in range(len(df)):
        if((df[colName][i] == colValue) and (df["Stolen"][i] == "Yes")):
            yesCount += 1
        elif (df[colName][i] == colValue and df["Stolen"][i] == "No"):
            noCount += 1
    return [yesCount,noCount]

In [21]:
def probYesNo(c,t,o):
    probYes = 1
    probNo = 1
    yCount,nCount = yesNoCount("Color",c)
    pYes = yCount / yesCount
    pNo = nCount / noCount
    probYes *= pYes
    probNo *= pNo
    
    yCount,nCount = yesNoCount("Type",t)
    pYes = yCount / yesCount
    pNo = nCount / noCount
    probYes *= pYes
    probNo *= pNo
    
    yCount,nCount = yesNoCount("Origin",o)
    pYes = yCount / yesCount
    pNo = nCount / noCount
    probYes *= pYes
    probNo *= pNo
    
    probYes *= prYes
    probNo *= prNo
    if(probYes > probNo):
        return True
    else:
        return False

In [22]:
# combination of cars like (Red,SUV,Domestic)
if(probYesNo("Red","SUV","Domestic")):
    print("Red Suv Domestic car is stolen")
else:
    print("Red Suv Domestic car is not stolen")

Red Suv Domestic car is not stolen

In [23]:
# combination of cars like (Yellow,Sports,Imported)
if(probYesNo("Yellow","Sports","Imported")):
    print("Yellow Sports Imported car is stolen")
else:
    print("Yellow Sports Imported car is not stolen")

Yellow Sports Imported car is stolen

3.Given the following dataset, what would be the value of Y for A=0 ,B=0, C=1?

A	B	C	Y
0	0	1	0
0	1	0	0
1	1	0	0
0	0	1	1
1	1	1	1
1	0	0	1
1	1	0	1

In [24]:
data = {
    "A" : [0,0,1,0,1,1,1],
    "B" : [0,1,1,0,1,0,1],
    "C" : [1,0,0,1,1,0,0],
    "Y" : [0,0,0,1,1,1,1]
}

In [25]:
df = pd.DataFrame(data)

In [26]:
df

   A  B  C  Y
0  0  0  1  0
1  0  1  0  0
2  1  1  0  0
3  0  0  1  1
4  1  1  1  1
5  1  0  0  1
6  1  1  0  1

In [27]:
#counting number of "0"s and "1"s
oneCount = df["Y"].value_counts()[1]
zeroCount = df["Y"].value_counts()[0]
total = oneCount + zeroCount

In [28]:
#probability of 0 and 1.
prOne = oneCount/total
prZero = zeroCount/total

In [29]:
def oneZeroCount(colName,colValue):
    oneCount = 0
    zeroCount = 0
    for i in range(len(df)):
        if((df[colName][i] == colValue) and (df["Y"][i] == 1)):
            oneCount += 1
        elif (df[colName][i] == colValue and df["Y"][i] == 0):
            zeroCount += 1
    return [oneCount,zeroCount]

In [30]:
def probYesNo(a,b,c):
    probOne = 1
    probZero = 1
    oCount,zCount = oneZeroCount("A",a)
    pOne = oCount / oneCount
    pZero = zCount / zeroCount
    probOne *= pOne
    probZero *= pZero
    
    oCount,zCount = oneZeroCount("B",b)
    pOne = oCount / oneCount
    pZero = zCount / zeroCount
    probOne *= pOne
    probZero *= pZero
    
    oCount,zCount = oneZeroCount("C",c)
    pOne = oCount / oneCount
    pZero = zCount / zeroCount
    probOne *= pOne
    probZero *= pZero
    
    probOne *= prOne
    probZero *= prZero
    probOne,probZero = normalize(probOne,probZero)
    if(probOne > probZero):
        return 1
    else:
        return 0

In [31]:
# value of Y for A=0 ,B=0, C=1?
print(probYesNo(1,1,0))

1

In [32]:
print(probYesNo(1,1,0))

1