In [1]:
import pandas as pd

In [2]:
def fun(df,r,k,centroid):
    while(True):
        for i in range(r):
            row_distance = []
            for j in range(k):
                #calculating the eucledian distance.
                x1 = df.iloc[i,0]
                y1 = df.iloc[i,1]

                x2 = centroid[j][0]
                y2 = centroid[j][1]

                ed = ((x2-x1)**2+(y2-y1)**2)**0.5
                ed = round(ed,2)
                df.iloc[i,j+2] = ed
                row_distance.append(ed)
            min_dist = min(row_distance)
            df.loc[i,"new_cluster"] = row_distance.index(min_dist)+1
        #check whether new cluster and old cluster values are same or not
        if(df['cluster'].equals(df['new_cluster'])):  #is equal break the loop.
            break 
        else:
            # updating, centroid values.
            temp_list = [[0, 0] for _ in range(k)]
            for i in range(r):
                cluster_val = df.loc[i,"new_cluster"] # new cluster value
                x = df.iloc[i,0]
                y = df.iloc[i,1]
                temp_list[cluster_val - 1][0] += x
                temp_list[cluster_val - 1][1] += y
            for i in range(len(temp_list)):
                frequency = df['new_cluster'].value_counts().get(i+1, 0)
                if(frequency>0):
                    temp_list[i][0] = temp_list[i][0]/frequency
                    temp_list[i][1] = temp_list[i][1]/frequency
            centroid = temp_list
            #new cluster becomes old cluster, loop repeats again.   
            df['cluster'] = df['new_cluster']
    return [df,centroid]
    #     break

In [3]:
df=pd.DataFrame({'X':[2,2,8,5,7,6,1,4],'Y':[10,5,4,8,5,4,2,9]})

In [4]:
df.insert(2,'A',[None]*df.shape[0],True)
df.insert(3,'B',[None]*df.shape[0],True)
df.insert(4,'C',[None]*df.shape[0],True)

In [5]:
df.insert(5,'cluster',[None]*df.shape[0],True)
df.insert(6,'new_cluster',[None]*df.shape[0],True)

In [6]:
#consider three centroids a1,b1,c1 initially
centroid  = [(2,10),(5,8),(1,2)]

In [7]:
df,centroid = fun(df,len(df),len(centroid),centroid)
print(df)
print(centroid)

   X   Y     A     B     C cluster new_cluster
0  2  10  1.94  7.56  6.52       1           1
1  2   5  4.33  5.04  1.58       3           3
2  8   4  6.62  1.05  6.52       2           2
3  5   8  1.67  4.18   5.7       1           1
4  7   5  5.21  0.67   5.7       2           2
5  6   4  5.52  1.05  4.53       2           2
6  1   2  7.49  6.44  1.58       3           3
7  4   9  0.33  5.55  6.04       1           1
[[3.6666666666666665, 9.0], [7.0, 4.333333333333333], [1.5, 3.5]]

In [8]:
new_data_point = [5,6]
dist = []
for i in centroid:
    temp = ((i[0]-new_data_point[0])**2+(i[1]-new_data_point[1])**2)**0.5
    dist.append(temp)
print(dist)

[3.2829526005987018, 2.6034165586355518, 4.301162633521313]

In [9]:
print("Predicted cluster group = ",dist.index(min(dist))+1)

Predicted cluster group =  2

In [10]:
df=pd.DataFrame({'X':[1.713,0.180,0.353,0.940,1.486,1.266,1.540,0.459,0.773],'Y':[1.586,1.786,1.240,1.566,0.759,1.106,0.419,1.799,0.186]})

In [11]:
df.insert(2,'A',[None]*df.shape[0],True)
df.insert(3,'B',[None]*df.shape[0],True)
df.insert(4,'C',[None]*df.shape[0],True)

In [12]:
df.insert(5,'cluster',[None]*df.shape[0],True)
df.insert(6,'new_cluster',[None]*df.shape[0],True)

In [13]:
#consider two centroids randomly.
centroid  = [(1.716,1.586),(0.180,1.786)]

In [14]:
df

       X      Y     A     B     C cluster new_cluster
0  1.713  1.586  None  None  None    None        None
1  0.180  1.786  None  None  None    None        None
2  0.353  1.240  None  None  None    None        None
3  0.940  1.566  None  None  None    None        None
4  1.486  0.759  None  None  None    None        None
5  1.266  1.106  None  None  None    None        None
6  1.540  0.419  None  None  None    None        None
7  0.459  1.799  None  None  None    None        None
8  0.773  0.186  None  None  None    None        None

In [15]:
df,centroid = fun(df,len(df),len(centroid),centroid)
df

       X      Y     A     B     C cluster new_cluster
0  1.713  1.586  0.85  1.23  None       1           1
1  0.180  1.786  1.53  0.36  None       2           2
2  0.353  1.240  1.09  0.38  None       2           2
3  0.940  1.566  0.86  0.46  None       2           2
4  1.486  0.759  0.14  1.31  None       1           1
5  1.266  1.106  0.31  0.92  None       1           1
6  1.540  0.419  0.43  1.58  None       1           1
7  0.459  1.799  1.33   0.2  None       2           2
8  0.773  0.186  0.85  1.44  None       1           1

In [16]:
new_data_point = [0.906,0.606]
dist = []
for i in centroid:
    temp = ((i[0]-new_data_point[0])**2+(i[1]-new_data_point[1])**2)**0.5
    dist.append(temp)
print(dist)

[0.49421371895162924, 1.0781915704085245]

In [17]:
print("Predicted cluster group = ",dist.index(min(dist))+1)

Predicted cluster group =  1