question 1

In [1]:
# formula : P(A|B) = P(A ⋂ B)/ P(B), where P(B) ≠ 0

In [2]:
#P(Absent|Friday) = P(Absent ^ Friday) / P(Friday)
prob_absent_friday = 0.03
prob_friday = 0.20
prob_absent_given_friday = (prob_absent_friday / prob_friday)
print(prob_absent_given_friday*100,"%")  # in percentage.

15.0 %

2nd question.

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("data.csv")

In [5]:
df

,slNo,income,recreation,job,status,age-group,home-owner,classification
0,1,medium,skiing,design,single,twenties,no,highRisk
1,2,high,golf,trading,married,forties,yes,lowRisk
2,3,low,speedway,transport,married,thirties,yes,medRisk
3,4,medium,football,banking,single,thirties,yes,lowRisk
4,5,high,flying,media,married,fifties,yes,highRisk
5,6,low,football,security,single,twenties,no,medRisk
6,7,medium,golf,media,single,thirties,yes,medRisk
7,8,medium,golf,transport,married,forties,yes,lowRisk
8,9,high,skiing,banking,single,thirties,yes,highRisk
9,10,low,golf,unemployed,married,forties,yes,highRisk

In [6]:
#unconditional probability of "golf"
#Unconditional probability of golf =
#The number of records which contains 'golf' / total number of records
total_records = len(df)
no_golf_records = 0
for i in df.loc[:,'recreation']:
    if(i == "golf"):
        no_golf_records += 1
print("probability of golf = ",no_golf_records / total_records)

probability of golf =  0.4

In [7]:
#conditional probability of `single' given "medRisk"
#P(single ∣ medRisk ) = P(single ∩ medRisk) / P(midRisk)
no_medRisk = df['classification'].value_counts()['medRisk']
prob_medRisk = no_medRisk / total_records
no_single_med = 0
for i in range(len(df)):  # iterating through each row.
    if(df.loc[i,'status']=='single'and df.loc[i,'classification']=='medRisk'):
        no_single_med += 1  
prob_single_medRisk = no_single_med / total_records
ans = prob_single_medRisk / prob_medRisk
print("Probability of single given medRisk = ",ans)

Probability of single given medRisk =  0.6666666666666667