In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Book1.csv")

In [3]:
q = [6,157,54,None]

In [4]:
df.insert(3,"Distance", [None]*(len(df)), True)

In [5]:
for i in range(len(df)):
    d = 0
    for j in range(1,len(df.columns)-2):
        diff = (df.iloc[i,j]) - q[j]
        d = d + (diff*diff)
    d = d**0.5 #square root
    df.iloc[i,3] = d

In [6]:
df

   SlNo  Height  Weight   Distance  Target
0     1     150      50   8.062258  Medium
1     2     155      55   2.236068  Medium
2     3     160      60   6.708204   Large
3     4     161      59   6.403124   Large
4     5     158      65  11.045361   Large

In [7]:
df=df.sort_values(by = ['Distance'])

In [8]:
#let k = 3
k = 3
target_values = df['Target'].unique()
target_values

array(['Medium', 'Large'], dtype=object)

In [9]:
ans = ""
maxValue = -1
for i in target_values:
    val = 0
    for j in df.iloc[0:k,4]:
        if(i == j):
            val += 1
    if(val>maxValue):
        maxValue = val
        ans = i

In [10]:
print("target classification : ",ans)

target classification :  Large

In [ ]:
#second question.

In [11]:
df = pd.read_csv("Book2.csv")

In [12]:
q = [5.2,3.1]

In [13]:
df.insert(2,"Distance", [None]*(len(df)), True)

In [14]:
for i in range(len(df)):
    d = 0
    for j in range(0,len(df.columns)-2):
        diff = (df.iloc[i,j]) - q[j]
        d = d + (diff*diff)
    d = d**0.5 #square root
    df.iloc[i,2] = d

In [15]:
df

    Sepal Length  Sepal Width  Distance      Species
0            5.3          3.7  0.608276       Setosa
1            5.1          3.8  0.707107       Setosa
2            7.2          3.0  2.002498    Virginica
3            5.4          3.4  0.360555       Setosa
4            5.1          3.3  0.223607       Setosa
5            5.4          3.9  0.824621       Setosa
6            7.4          2.8   2.22036    Virginica
7            6.1          2.8  0.948683  Verscicolor
8            7.3          2.9  2.109502    Virginica
9            6.0          2.7  0.894427  Verscicolor
10           5.8          2.8   0.67082    Virginica
11           6.3          2.3  1.360147  Verscicolor
12           5.1          2.5  0.608276  Verscicolor
13           6.3          2.5  1.252996  Verscicolor
14           5.5          2.4  0.761577  Verscicolor

In [20]:
df=df.sort_values(by = ['Distance'])
df

    Sepal Length  Sepal Width  Distance      Species
4            5.1          3.3  0.223607       Setosa
3            5.4          3.4  0.360555       Setosa
0            5.3          3.7  0.608276       Setosa
12           5.1          2.5  0.608276  Verscicolor
10           5.8          2.8   0.67082    Virginica
1            5.1          3.8  0.707107       Setosa
14           5.5          2.4  0.761577  Verscicolor
5            5.4          3.9  0.824621       Setosa
9            6.0          2.7  0.894427  Verscicolor
7            6.1          2.8  0.948683  Verscicolor
13           6.3          2.5  1.252996  Verscicolor
11           6.3          2.3  1.360147  Verscicolor
2            7.2          3.0  2.002498    Virginica
8            7.3          2.9  2.109502    Virginica
6            7.4          2.8   2.22036    Virginica

In [17]:
#let k = 5
k = 5
target_values = df['Species'].unique()
target_values

array(['Setosa', 'Verscicolor', 'Virginica'], dtype=object)

In [18]:
ans = ""
maxValue = -1
for i in target_values:
    val = 0
    for j in df.iloc[0:k,3]:
        if(i == j):
            val += 1
    if(val>maxValue):
        maxValue = val
        ans = i

In [19]:
print("target classification : ",ans)

target classification :  Setosa