In [13]:
import pandas as pd

In [22]:
df = pd.read_csv(r"C:\Users\aceec\Documents\Book1.csv")

In [23]:
df

   SlNo  Height  Weight  Target
0     1     150      50  Medium
1     2     155      55  Medium
2     3     160      60   Large
3     4     161      59   Large
4     5     158      65   Large

In [24]:
q = [6,157,54,None]

In [25]:
df.insert(3,"Distance", [None]*(len(df)), True)

In [33]:
rows = len(df.iloc[:,1])
cols = len(df.iloc[0,:])
rows,cols

(5, 5)

In [26]:
df

   SlNo  Height  Weight Distance  Target
0     1     150      50     None  Medium
1     2     155      55     None  Medium
2     3     160      60     None   Large
3     4     161      59     None   Large
4     5     158      65     None   Large

In [29]:
df.iloc[:,0]

0    1
1    2
2    3
3    4
4    5
Name: SlNo, dtype: int64

In [36]:
for i in range(len(df)):
    d = 0
    lst = []
    for j in range(1,cols-2):
        diff = (df.iloc[i,j]) - q[j]
        lst.append(diff)
    for e in lst:
        d += e*e
    d = d**0.5
    df.iloc[i,3] = d

In [37]:
df

   SlNo  Height  Weight   Distance  Target
0     1     150      50   8.062258  Medium
1     2     155      55   2.236068  Medium
2     3     160      60   6.708204   Large
3     4     161      59   6.403124   Large
4     5     158      65  11.045361   Large

In [47]:
df=df.sort_values(by = ['Distance'])
df

   SlNo  Height  Weight   Distance  Target
1     2     155      55   2.236068  Medium
3     4     161      59   6.403124   Large
2     3     160      60   6.708204   Large
0     1     150      50   8.062258  Medium
4     5     158      65  11.045361   Large

In [46]:
#let k = 3
k = 3
target_values = df['Target'].unique()
target_values

array(['Medium', 'Large'], dtype=object)

In [48]:
ans = target_values[0]
maxValue = -1
for i in target_values:
    val = 0
    for j in df.iloc[0:k,4]:
        if(i == j):
            val += 1
    if(val>maxValue):
        maxValue = val
        ans = i

In [49]:
ans

'Large'