Hussu localhost 28-11-2023 12:04:36 IST

In [1]:
#find s- algorithm
def findS(df):
    a = len(df.iloc[0])
    h = [0]*(a-2)  #most specific hypothesis.
    for i in range(0,len(df)):
        if(df.iloc[i,a-1] == "Yes"):  
            for j in range(1,a-1):
                if(df.iloc[i,j] == h[j-1]):
                    continue;
                elif(h[j-1] == 0):     
                    h[j-1] = df.iloc[i,j]
                else:
                    h[j-1] = "?"
    return h

In [2]:
import pandas as pd

## 1.Enjoy Sport Data set

In [3]:
df = pd.read_csv("watersports3.csv")

In [4]:
df

   Day    Sky AirTemp Humidity    Wind Water Forecast WaterSport
0    1  Sunny    Warm   Normal  Strong  Warm     Same        Yes
1    2  Sunny    Warm     High  Strong  Warm     Same        Yes
2    3  Rainy    Cold     High  Strong  Warm   Change         No
3    4  Sunny    Warm     High  Strong  Cool   Change        Yes

In [5]:
print(findS(df))

['Sunny', 'Warm', '?', 'Strong', '?', '?']

## 2. DigitalPaperDataSet

In [6]:
df = pd.read_csv("DigitalPapersData.csv")

In [7]:
df

   Example Citations    Size inLibrary       Price Editions  Buy
0        1      Some   Small        No  Affordable     Many   No
1        2      Many     Big        No   Expensive      One  Yes
2        3      Some     Big    Always   Expensive      Few   No
3        4      Many  Medium        No   Expensive     Many  Yes
4        5      Many   Small        No  Affordable     Many  Yes

In [8]:
l = findS(df)
l

['Many', '?', 'No', '?', '?']

## 3.Face Features Data Set

In [9]:
df = pd.read_csv("FaceFeatures.csv")

In [10]:
df

   Example    Eyes      Nose    Head  Fcolor Smile
0        1   Round  Triangle   Round  Purple   Yes
1        2  Square    Square  Square   Green    No
2        3  Square  Triangle   Round  Yellow   Yes
3        4   Round  Triangle   Round   Green    No
4        5  Square    Square   Round  Yellow   Yes

In [11]:
findS(df)

['?', '?', 'Round', '?']